

<form action="/storage/create-folder" method="POST">
    <fieldset>
        <label for="folderTitle">Folder Name: </label>
        <input type="text" name="folderTitle" id="folderTitle">
    </fieldset>
    <button type="submit">Submit</button>
</form>