<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>

    <div>
        <h4>Sign Up!</h4>
        <%- include("partials/errors.ejs") %>
        <form action="/users/create-user" method="POST">
            <fieldset>
                <label for="username">Username: </label>
                <input type="text" name="username" id="username">
            </fieldset>
            <fieldset>
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" >
            </fieldset>
            <button type="submit">Submit</button>
        </form>
    </div>


</body>
</html>