<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
</head>
<body>
    <h1>Update Folder</h1>
    <form action="/storage/<%= folderName %>/update-folder" method="POST">
        <fieldset>
            <label for="newName">New Folder Name: </label>
            <input type="text" name="newName" id="newName">
        </fieldset>
        <fieldset>
            <label for="folderName">Old Folder Name: </label>
            <input type="text" name="folderName" id="folderName" value="<%= folderName %>">
        </fieldset>
        <button type="submit">Submit</button>
    </form>
</body>
</html>