

<form action="/storage/upload" method="POST" enctype="multipart/form-data">
    <fieldset>
        <label for="title">File Name: </label>
        <input type="text" name="title" id="title">
        <label for="folder">Folder Name: </label>
        <input type="text" name="folder" id="folder">
    </fieldset>
    <fieldset>
        <label for="file">File:</label>
        <input type="file" name="file" id="file">
    </fieldset>
    <button type="submit">Submit</button>
</form>